{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Process Task Manager</title>

    <!--------------------------------------- FONTAWESOME ------------------------------------------->
    <link type="text/css" rel="stylesheet" href="{%  static 'css/fontawesome.min.css' %}">
    <!--------------------------------------- IONICONS ------------------------------------------->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!--------------------------------------- ESTILO CSS ------------------------------------------->
    <link type="text/css" rel="stylesheet" href="{% static 'css/basevista.css' %}">

</head>

<!--------------------------------------- COMIENZO NAVBAR --------------------------------------->

<body>
    <div class="container">
        <div class="nav-strip">
            <a href="#" class="logo"><img src="{% static 'img/processLogo.png' %}" class="logo-brand"
                    alt="logo"></a></a>
            <ul class="navbarvista">
                <li>
                    <a href="{% url 'cerrasesion' %}" title="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <!--<span>Login</span>-->
                    </a>
                </li>

                <li>
                    <a href="#" title="Usuario">
                        <i class="fas fa-user"></i>
                        <span>Administrador</span>
                    </a>
                </li>
            </ul>
            <div class="menu-icon"></div>
            <span></span>
        </div>
    </div>
    <!--------------------------------------- FIN NAVBAR --------------------------------------->

    {% block content %}


    {% endblock %}

    <!--------------------------------------- SCRIPT JS --------------------------------------->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/fontawesome.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.dynamicTable-1.0.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'js/fontawesome.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/VentanaModal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
</body>

</html>