{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Process Task Manager</title>

<!--------------------------------------- FONTAWESOME ------------------------------------------->
    <link  type="text/css" rel="stylesheet" href="{%  static 'css/fontawesome.min.css' %}">      
<!--------------------------------------- IONICONS ------------------------------------------->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<!--------------------------------------- ESTILO CSS ------------------------------------------->
    <link  type="text/css" rel="stylesheet" href="{% static 'css/basevista.css' %}">

</head>

<!--------------------------------------- COMIENZO NAVBAR --------------------------------------->
<body>
    <div class="container">
        <div class="nav-strip">
            <a href="#" class="logo"><img src="{% static 'img/processLogo.png' %}" class="logo-brand"
                alt="logo"></a></a>
            <ul class="navbarvista">
                <li>
                    <a href="{% url 'cerrasesion' %}" title="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <!--<span>Login</span>-->
                    </a>
                </li>

                <li>
                    <a href="#" title="Usuario">
                        <i class="fas fa-user"></i>
                        <span>Analista</span>
                    </a>
                </li>
            </ul>
            <div class="menu-icon"></div>
                <span></span>
        </div>
    </div>
<!--------------------------------------- FIN NAVBAR --------------------------------------->

{% block content %}


{% endblock %}

<!--------------------------------------- SCRIPT JS ---------------------------------------> 
<script src="{% static 'js/jquery-3.5.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/fontawesome.min.js' %}" type="text/javascript"></script>
</body>

</html>