{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1.0">
    <title>Process Task Manager</title>

    <!--------------------------------------- FONTAWESOME ------------------------------------------->
    <link type="text/css" rel="stylesheet" href="{%  static 'css/fontawesome.min.css' %}">
    <!--------------------------------------- IONICONS ------------------------------------------->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!--------------------------------------- ESTILO CSS ------------------------------------------->
    <link type="text/css" rel="stylesheet" href="{% static 'css/basevista.css' %}">

</head>

<!--------------------------------------- COMIENZO NAVBAR --------------------------------------->

<body>
    <div class="container">
        <div class="nav-strip">
            <a href="#" class="logo"><img src="{% static 'img/processLogo.png' %}" class="logo-brand"
                    alt="logo"></a></a>
            <ul class="navbarvista">

                <li>
                    <a href="/flujofuncionario" title="Flujos">
                        <i class="fas fa-code-branch"></i>
                    </a>
                </li>

                <li>
                    <a href="/tareasfuncionario" title="Tareas">
                        <i class="fas fa-tasks"></i>
                        <!--<span>Tareas</span>-->
                    </a>
                </li>

                <li>
                    <a href="/tablerofuncionariojefe" title="Tablero de Control">
                        <i class="fas fa-chart-pie"></i>
                    </a>
                </li>
                <li>
                    <a href="/notificacionfuncionario" title="Notificaciones">
                        <i class="far fa-bell"></i>
                        <!--<span>Notificaciones</span>-->
                    </a>
                </li>
                <li>
                    <a href="/progresofuncionario" title="Progreso">
                        <i class="fas fa-chart-line"></i>
                        <!--<span>Progreso</span>-->
                    </a>
                </li>
                <li>
                    <a href="{% url 'cerrasesion' %}" title="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <!--<span>Login</span>-->
                    </a>
                </li>

                <li>
                    <a href="#" title="Usuario">
                        <i class="fas fa-user"></i>
                        <span>Funcionario</span>
                    </a>
                </li>
            </ul>
            <div class="menu-icon"></div>
            <span></span>
        </div>
    </div>
    <!--------------------------------------- FIN NAVBAR --------------------------------------->

    {% block content %}

    {% endblock %}

    <!--------------------------------------- SCRIPT JS --------------------------------------->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/fontawesome.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="/static/js/VentanaModalTarea.js" type="text/javascript"></script>
    <script src="/static/js/obtenerValorCombox.js" type="text/javascript"></script>
    <script>
        var ctx = document.getElementById("myChart0").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ['col1', 'col2', 'col3', 'col4'],
                datasets: [{
                    label: 'Num datos',
                    data: [10, 9, 15, 12],
                    backgroundColor: [
                        'rgb(66, 134, 244,0.5)',
                        'rgb(74, 135, 72,0.5)',
                        'rgb(229, 89, 50,0.5)',
                        'rgb(126, 87, 69)'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById("myChart1").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: ['col1', 'col2', 'col3', 'col4'],
                datasets: [{
                    label: 'Num datos',
                    data: [10, 9, 15, 12],
                    backgroundColor: [
                        'rgb(66, 134, 244,0.5)',
                        'rgb(74, 135, 72,0.5)',
                        'rgb(229, 89, 50,0.5)',
                        'rgb(126, 87, 69)'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>

</html>