{% extends 'basefuncionariojefe.html' %}
{% load static %}

{% block content %}

<h2>Carga de trabajo</h2>

<!--
<div class="containerbutton">

    <button class="btn btn1"><i class="fas fa-redo-alt"></i></button>
    <button class="btn btn2"><i class="fas fa-user-plus"></i></button>
    <button class="btn btn3"><i class="fas fa-user-minus"></i></button>
    
</div>
-->

<div class="search-box">
    
    <input class="search-txt" type="text" name="" placeholder="Buscar">
    <a class="search-btn" href="">
        <i class="fas fa-search"></i>
    </a>

</div>


<div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Nombre</p>
            </div>
            <div class="table-cell">
                <p>Cargo</p>
            </div>
            <div class="table-cell last-cell">
                <p>Cantidad tareas asignadas</p>
            </div> 
        </div>


        <div class="table-row">
            <div class="table-cell first-cell">
                <p>Cocinar</p>
            </div>
            <div class="table-cell">
                <p>014</p>
            </div>
            <div class="table-cell last-cell">
                <p>Juan Perez</p>
            </div>   
        </div>


        <div class="table-row">
            <div class="table-cell first-cell">
                <p>Limpieza</p>
            </div>
            <div class="table-cell">
                <p>011</p>
            </div>
            <div class="table-cell last-cell">
                <p>Gilberto Melendez</p>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell first-cell">
                <p>Despachos</p>
            </div>
            <div class="table-cell">
                <p>015</p>
            </div>
            <div class="table-cell last-cell">
                <p>Marlon Vera</p>
            </div>
        </div>

</div>

{% endblock %}