{% extends 'basedisenador.html' %}
{% load static %}

{% block content %}

<h2>Departamentos</h2>

<!--PARTE SUPERIOR-->


<div class="container_flujo">
    <div class="doblediv">
        
        <div class="comboboxdisenador">
            <select name="" id="">
                <option value="">Tipo Unidad</option>
                <option value="">Opcion 2</option>
                <option value="">Opcion 3</option>
                <option value="">Opcion 4</option>
                <option value="">Opcion 5</option>
            </select>
        </div>

        <div class="inputempresa">

            <input type="text" class="txtbx" placeholder="Dependencia" name="">

            <input type="text" class="txtbx" placeholder="Nombre" name="">

        </div>
    </div>
   
    
    <!--box3-->
    <div class="box" id="box3">

        <div class="textarea">
            <form action="">
                <textarea name="message" placeholder="Escriba su mensaje"></textarea>
            </form>
        </div>  
           
    </div>

    </div>
    
        
</div>

<div class="containerbutton">

    <!--
    <button class="btn btn3" title="Eliminar">
        <a href="#">
            <i class="far fa-minus-square"></i>
        </a>
    </button>
    -->
    <button class="btn btn3" title="Agregar">
        <a href="">
            <i class="fas fa-plus-circle"></i>
        </a>
    </button>


</div>

<hr>

<!--PARTE INFERIOR-->

<div class="container_flujo">
    <div class="doblediv">
        <!--
        <div class="comboboxdisenador">
            <select name="" id="">
                <option value="">Opcion 1</option>
                <option value="">Opcion 2</option>
                <option value="">Opcion 3</option>
                <option value="">Opcion 4</option>
                <option value="">Opcion 5</option>
            </select>
        </div>

        -->
        
        <div class="search-box">
        
            <input class="search-txt" type="text" name="" placeholder="Buscar">
            <a class="search-btn" href="">
                <i class="fas fa-search"></i>
            </a>
    
        </div>
        <br>

    </div>

    <!--box3-->
    <div class="box" id="box3">

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Nombre Departamento</p>
                </div>

                <div class="table-cell last-cell">
                    <p>Nombre Flujo</p>
                </div> 
            </div>
    
    
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>Juan Perez</p>
                </div>

                <div class="table-cell last-cell">
                    <p>juan@perez</p>
                </div>   
            </div>
    
    
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>Rodrigo Palacios</p>
                </div>

                <div class="table-cell last-cell">
                    <p>rodrigo@palacios</p>
                </div>
            </div>
    
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>Gilberto Meléndez</p>
                </div>

                <div class="table-cell last-cell">
                    <p>gilberto@melendez</p>
                </div>
            </div>
    
           
        </div>

        <div class="containerbutton">
            <!--
            <button class="btn btn2">
                <a href="/vistadisenador">
                    <i class="fas fa-code-branch"></i>
                </a>
            </button>

            <button class="btn btn3">
                <a href="/tareadisenador">
                    <i class="fas fa-tasks"></i>
                </a>
            </button>
            -->
            <button class="btn btn3">
                <a href="#">
                    <i class="far fa-plus-square"></i>
                </a>
            </button>

            <button class="btn btn3">
                <a href="">
                    <i class="far fa-save"></i>
                </a>
            </button>

    </div>


</div>

{% endblock %}