{% extends 'basefuncionario.html' %}
{% load static %}

{% block content %}


<h2>Flujos</h2>


<!--PRIMER CONTENEDOR-->
<div class="container_flujo">
    <div class="container_flujo">
        <div class="box" id="box3">
            <div class="table-box">
                <div class="table-row table-head">

                    <div class="table-cell first-cell">
                        <!-- <p>Ejecutar</p> -->
                    </div>

                    <div class="table-cell last-cell">
                        <p>Nombre Flujo</p>
                    </div>

                    <!-- <div class="table-cell last-cell">
                        <p>Descripcion</p>
                    </div> -->

                </div>

                {% for f in flujo %}
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <form action={% url 'EjecutarFlujo' %} method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{ f.NOMBRE_FLUJO }}" name="nombreflujo" style="display: none;">
                            <input type="number" value="{{ f.ID_FLUJO }}"" name=" idflujo" style="display: none;">
                            <input type="submit" value="Ejecutar" class="btn btn3">
                        </form>

                        <input type="submit" value="Mostrar" id="boton-Mostrar-Tarea" class="btn btn3">
                    </div>

                    <div id="tvesModal" class="modalContainer">
                        <div class="modal-content">
                            <span class="close">×</span>
                            <h6>Tareas de Flujo</h6>
                            <div class="table-box">
                                <div class="table-row table-head">
                                    <div class="table-cell">
                                        <p>Nombre Tarea</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>Descripcion Tarea</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>Fecha Inicio</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>Fecha Termino</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>Responsable</p>
                                    </div>
                                </div>

                                {% for t in tarea %}
                                <div class="table-row">
                                    <form action={% url 'guardartarea' %} method="POST">
                                        {% csrf_token %}
                                        <div class="table-cell">
                                            <p>{{ t.NOMBRE_TAREA }}</p>
                                            <input type="text" value="{{ t.ID_TAREA }}" name="idtarea"
                                                style="display: none;">
                                        </div>
                                        <div class="table-cell">
                                            <p>{{ t.DESCRIPCION_TAREA }}</p>
                                        </div>
                                        <div class="table-cell">
                                            <input type="date" name="fechainicio" id="avance" class="txtbx">
                                        </div>
                                        <div class="table-cell">
                                            <input type="date" name="fechatermino" id="avance" class="txtbx">
                                        </div>
                                        <div class="table-cell">
                                            <select name="rut">
                                                {% for r in responsable %}
                                                <option value="{{ r.RUT }}" id="avance" class="txtbx">{{ r.NOMBRE }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn3" id="btnguardar">Guardar</button>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="table-cell last-cell">
                        <p>{{ f.NOMBRE_FLUJO }}</p>
                    </div>
                    <!-- <div class="table-cell last-cell">
                        <p>{{ f.DESCRIPCION_FLUJO }}</p>
                    </div> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!--TERCERA TABLA-->
    <h6>Tareas de Flujo</h6>
    <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell">
                <p>Nombre Tarea</p>
            </div>
            <div class="table-cell">
                <p>Descripcion Tarea</p>
            </div>
            <div class="table-cell">
                <p>Fecha Inicio</p>
            </div>
            <div class="table-cell">
                <p>Fecha Termino</p>
            </div>
            <div class="table-cell">
                <p>Responsable</p>
            </div>
        </div>



        {% for t in tarea %}
        <div class="table-row">
            <form action={% url 'guardartarea' %} method="POST">
                {% csrf_token %}
                <div class="table-cell">
                    <p>{{ t.NOMBRE_TAREA }}</p>
                    <input type="text" value="{{ t.ID_TAREA }}" name="idtarea" style="display: none;">
                </div>
                <div class="table-cell">
                    <p>{{ t.DESCRIPCION_TAREA }}</p>
                </div>
                <div class="table-cell">
                    <input type="date" name="fechainicio" id="avance" >
                </div>
                <div class="table-cell">
                    <input type="date" name="fechatermino" id="avance" class="">
                </div>
                <div class="table-cell">
                    <select name="rut" id="avance">
                        {% for r in responsable %}
                        <option value="{{ r.RUT }}">{{ r.NOMBRE }} </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn3" id="btnguardar">Guardar</button>
            </form>
        </div>
        {% endfor %}

    </div>

    <!--SEGUNDO CONTAINER-->
    <h6>Flujo en Ejecución</h6>
    <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Seleccionar</p>
            </div>
            <div class="table-cell">
                <p>Nombre del flujo</p>
            </div>
            <div class="table-cell">
                <p>Departamento</p>
            </div>
            <div class="table-cell">
                <p>Numero Tareas</p>
            </div>
            <div class="table-cell">
                <p>Tareas Terminadas</p>
            </div>
            <div class="table-cell last-cell">
                <p>Porcentaje Progreso</p>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell first-cell">
                <p>
                    <input type="checkbox" name="">
                </p>
            </div>
            <div class="table-cell">
                <p>Limpieza</p>
            </div>
            <div class="table-cell">
                <p>099</p>
            </div>
            <div class="table-cell">
                <p>125</p>
            </div>
            <div class="table-cell">
                <p>111</p>
            </div>
            <div class="table-cell last-cell">
                <p>77%</p>
            </div>
        </div>
    </div>

    <br>
</div>
<br>
{% endblock %}