{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/flujotrabajo.css' %}">
    <title>Document</title>
</head>

<body>
    <section class="grid-container">
        <div class="logo-process">
            <img src="{% static 'img/processLogo.png' %}">
        </div>

        <div class="botones">
            <div class="boton-Inicio">
                <img src="https://img.icons8.com/material-sharp/25/000000/home.png" />
                <button class="boards-btn btn">Inicio</button>
            </div>
            <div class="boton-notificaciones">
                <img src="https://img.icons8.com/material/25/000000/filled-appointment-reminders.png" />
                <button id="BotonNotificacion" class="boards-btn btn">Notificaciones</button>

                <div id="VentanaNotificacion" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title">Tarea Limpiar Bodega</span>
                                        <p>Responsable : Vicente Garcia</p>
                                        <p>Fecha Inicio: 24/09/2020</p>
                                        <p>Fecha Termino: 27/09/2020</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Aceptar</a>
                                        <a href="#">Rechazar</a>
                                    </div>
                                </div>

                                <div class="card blue-grey darken-2">
                                    <div class="card-content white-text">
                                        <span class="card-title">Tarea Limpiar Bodega</span>
                                        <p>Responsable : Vicente Garcia</p>
                                        <p>Fecha Inicio: 24/09/2020</p>
                                        <p>Fecha Termino: 27/09/2020</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Aceptar</a>
                                        <a href="#">Rechazar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-personal">
                <img src="https://img.icons8.com/ios-glyphs/25/000000/user-male.png" />
                <button class="boards-btn btn">Personal</button>
            </div>
            <div class="boton-flujos">
                <img src="https://img.icons8.com/material-sharp/25/000000/flow-chart.png" />
                <button class="boards-btn btn">Flujos de Trabajo</button>

            </div>
            <div class="boton-progreso">
                <img src="https://img.icons8.com/ios-filled/25/000000/bar-chart.png" />
                <button class="boards-btn btn">Progreso</button>
            </div>
            <div class="boton-salir">
                <img src="https://img.icons8.com/pastel-glyph/25/000000/exit--v1.png" />
                <button class="boards-btn btn">Salir</button>
            </div>
        </div>

        <p>Click the names to see more data.</p>
        <table>
            <thead>
                <tr class="table-headers">
                    <th>Nombre del flujo</th>
                    <th>Total de tareas</th>
                    <th>Tareas Terminadas</th>
                    <th>Revisar flujo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PlayCo Group Universal Flex</td>
                    <th class="mobile-header">Number</th>
                    <td>2489</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€12.35</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                </tr>
                <tr>
                    <td>House of Dedgeny EUR Flex</td>
                    <th class="mobile-header">Number</th>
                    <td>5478</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€42.68 </td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>PlayCo Group Local</td>
                    <th class="mobile-header">Number</th>
                    <td>123</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€147.36</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                   
                </tr>
                <tr>
                    <td>PlayCo Group Low</td>
                    <th class="mobile-header">Number</th>
                    <td>5477</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€147.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>House of Dedgeny High</td>
                    <th class="mobile-header">Number</th>
                    <td>5899</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€ 288.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>House of Dedgeny USD Med</td>
                    <th class="mobile-header">Number</th>
                    <td>11477</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€18.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>Sterck Inc. Med</td>
                    <th class="mobile-header">Number</th>
                    <td>1476</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€187.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>PlayCo Group Universal High</td>
                    <th class="mobile-header">Number</th>
                    <td>6547</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€782.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>PlayCo Group Universal Low</td>
                    <th class="mobile-header">Number</th>
                    <td>1476</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€187.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>PlayCo Group Universal High</td>
                    <th class="mobile-header">Number</th>
                    <td>1471</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€148.00</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>Sterck Inc. Low</td>
                    <th class="mobile-header">Number</th>
                    <td>1978</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€68.23</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
                <tr>
                    <td>Sterck Inc. Universal High</td>
                    <th class="mobile-header">Number</th>
                    <td>6512</td>
                    <th class="mobile-header">Market rate</th>
                    <td>€642.02</td>
                    <th class="mobile-header">Weight</th>
                    <td><input class='myclass' type='button' value='ver'/></td>
                    
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/Notificacion.js' %}"></script>
    <script src="{% static 'js/progreso.js' %}"></script>


</body>

</html>