{% extends 'plantillabase.html' %}
{% load static %}

{% block content %}

<!------------------------------------------- COMIENZO PAGE WRAPPER ----------------------------------------------->
<div class="page-wrapper">

  
  <!------------------ COMIENZO DEL CARRUSEL DE IMAGENES ------------------>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'img/maquinas-indu.png' %}" width="800" height="500" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/paisaje-industrial.jpg' %}" width="800" height="500" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'img/maquinas-industria.png' %}" width="800" height="500" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  <!------------------------ FIN CARRUSEL IMAGENES --------------------------->



  <!------------------------ COMIENZO IMAGEN CENTRAL ------------------------->
  <div class="center">
    <img src="{% static 'img/rubrosindex.png' %}" alt="centerimage">
  </div>
  <!------------------------- FIN IMAGEN CENTRAL ----------------------------->



  <!------------------ COMIENZO DEL CARRUSEL DE IMAGENES --------------------->
    <div class="carouselempresas">

    <h3>Compañias contratadas</h3>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/carousel1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel3.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div><!---------------- FIN DEL CARRUSEL DE IMAGENES ----------------------->
  



</div><!----------------------------------------------- FIN PAGE WRAPPER ---------------------------------------------------->



{% endblock %}