{% extends 'plantillabase.html' %}
{% load static %}

{% block content %}

<!---------------------------------- COMIENZO PAGE WRAPPER ---------------------------------------->
<div class="page-wrapper">

  <!----------------------------------- COMIENZO FORMULARIO  ---------------------------------------->
  <section class="form-register">
    <form action="{% url 'autenticacion' %}" method="POST" id="login">
      {% csrf_token %}
      <img src="{% static 'img/processLogo.png' %}" class="logo-brand" alt="logoform">
      </i>
      <h4>Inicio de Sesión</h4>
      <input class="controls" type="text" name="usuario" id="usuario" placeholder="Usuario">
      <input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
      <input class="buttons" type="submit" value="Entrar">
      <p><i class="fas fa-key"></i></i> <a href="#">¿Olvidaste tu contraseña?</a></p>
    </form>
  </section>
  <!---------------------------------------- FIN FORMULARIO ------------------------------------------>
  <br>
  <br>
  <br>
  <!--------------------------------- COMIENZO DEL CARRUSEL DE IMAGENES ------------------------------>
  <div class="carouselempresas">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/carousel3.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel1.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!------------------------------- FIN DEL CARRUSEL DE IMAGENES ------------------------------->

</div>
<!-------------------------------------------- FIN PAGE WRAPPER -------------------------------------->
{% endblock %}