{% extends 'basefuncionariojefe.html' %}
{% load static %}

{% block content %}

<h2>Notificaciones</h2>

<div class="table-box">
    <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell last-cell">
                <p>Justificacion</p>
            </div>
        </div>
    
        {% for j in justificacion %}
        <div class="table-row">
    
    
            <div class="table-cell first-cell">
                <p>{{ j.JUSTIFICACION }}</p>
        
            </div>
    
        </div>
        {% endfor %}
    
    </div>

</div>

<!--
<div class="containerbutton">

    <button class="btn btn1"><i class="fas fa-redo-alt"></i></button>
    <button class="btn btn2"><i class="fas fa-user-plus"></i></button>
    <button class="btn btn3"><i class="fas fa-user-minus"></i></button>
    
</div>
-->

{% endblock %}