{% extends 'basefuncionario.html' %}
{% load static %}

{% block content %}

<h2>Notificaciones</h2>

<div class="table-box">
    <div class="table-row table-head">
        <div class="table-cell last-cell">
            <p>Responsable</p>
        </div>
        <div class="table-cell first-cell">
            <p>Nombre de Tarea</p>
        </div>
        <div class="table-cell">
            <p>Nombre Flujo</p>
        </div>
        <div class="table-cell">
            <p>Fecha Inicio</p>
        </div>
        <div class="table-cell last-cell">
            <p>Fecha Termino</p>
        </div>
    </div>

    {% for te in tareaenviadas %}
    <div class="table-row">
        <form action={% url 'aceptartarea' %} method="POST">
            {% csrf_token %}
            <div class="table-cell first-cell">
                <p>{{ te.NOMBRE }}</p>
                <input type="text" value="{{ te.RUT }}" name="rut" id="" style="display: none;">
            </div>
            <div class="table-cell">
                <p>{{ te.NOMBRE_TAREA }}</p>
                <input type="text" value="{{ te.ID_TAREA }}" name="idtarea" style="display: none;">
            </div>
            <div class="table-cell">
                <p>{{ te.NOMBRE_FLUJO }}</p>
            </div>
            <div class="table-cell last-cell">
                <p>{{ te.FECHA_INICIO_TAREA }}</p>
                <input type="text" value="{{ te.FECHA_INICIO_TAREA }} " name="fechainicio" style="display: none;">
            </div>
            <div class="table-cell last-cell">
                <p>{{ te.FECHA_TERMINO_TAREA }}</p>
                <input type="text" name="fechatermino" id="" value="{{ te.FECHA_TERMINO_TAREA }}"
                    style="display: none;">
            </div>
            <input type="submit" value="Aceptar" class="btn btn3">

        </form>

        <form action="{% url 'justificacion' %}" method="POST">
            {% csrf_token %}

            <input type="text" placeholder="Justificacion" name="justificacion" id="">
            <input type="submit" value="Rechazar" class="btn btn3">
        </form>
    </div>
    {% endfor %}

</div>


<div class="table-box">
    <div class="table-row table-head">
        <div class="table-cell last-cell">
            <p>Justificacion</p>
        </div>
    </div>

    
    <div class="table-row">
        <div class="table-cell first-cell">
            <p>{{ justificacion }}</p>
        </div>
    </div>
   

</div>

<!--
<div class="containerbutton">

    <button class="btn btn1"><i class="fas fa-redo-alt"></i></button>
    <button class="btn btn2"><i class="fas fa-user-plus"></i></button>
    <button class="btn btn3"><i class="fas fa-user-minus"></i></button>
    
</div>
-->

{% endblock %}