{% extends 'plantillabase.html' %}
{% load static %}

{% block content %}

<!---------------------------------------- COMIENZO PAGE WRAPPER ------------------------------------------------->
    <div class="page-wrapper">

        <!--<div class="center">
            <iframe width="600" height="600"  frameborder="0" scrolling="no" allowfullscreen="" src="https://www.streameast.live/clappr/embedHD.php?id=149&channel=channel1"></iframe>
        </div>-->

        <div style="height: 50px;"></div>
        <div class="container">
            <div class="row">
                <h3>Tareas Atrasadas</h3> 
                <div class="col-lg-12">                             
                 <table id="myTable" class="table"></table>               
                </div>                                        
            </div>                  
        </div>
        <div class="container">
            <h4>Progreso</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 88%"></div>
            </div>
        </div>
<!------------------------------------------------------------------------------->
        <div>
            <div style="height: 50px;"></div>
            <div class="container">
                <div class="row">
                    <h3>Tareas Actuales</h3> 
                    <div class="col-lg-12">                             
                     <table id="myTable2" class="table"></table>               
                    </div>                                        
                </div>                  
            </div>
        </div>

        <div class="container">
            <h4>Progreso</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
        </div>
        </div>
<!------------------------------------------------------------------------------->
        <div>
            <div style="height: 50px;"></div>
            <div class="container">
                <div class="row">
                    <h3>Proximas Tareas</h3> 
                    <div class="col-lg-12">                             
                    <table id="myTable3" class="table"></table>               
                    </div>                                        
                </div>                  
            </div>
        </div>


    </div><!---------------------------------- FIN PAGE WRAPPER -------------------------------------------------->

{% endblock %}
