{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Process Task Manager</title>
    <!---------------------------------- BOOSTRRAP CSS ------------------------------------------>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <!--------------------------------------- IONICONS ------------------------------------------->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!--------------------------------------- FONTAWESOME ---------------------------------------->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <!---------------------------------------- ESTILO CSS ---------------------------------------->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>

    <!-------------------------------------- COMIENZO DEL NAVBAR --------------------------------->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"><img src="{% static 'img/processLogo.png' %}" class="logo-brand"
                alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" id="home">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contactanos" id="quienesomos">Contáctanos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarServicios" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarServicios">
                        <a class="dropdown-item" href="/prueba">Servicios principales</a>
                        <a class="dropdown-item" href="#">Servicios secundarios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Otros servicios</a>
                    </div>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="/registro" id="consultas">Registrar</a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" id="iniciosesion">Iniciar Sesion</a>
                </li>
            </ul>

        </div>
    </nav>
    <!--------------------------------------- FIN DEL NAVBAR --------------------------------------->

    {% block content %}

    {% endblock %}

    <!--------------------------------------- COMIENZO FOOTER -------------------------------------->
    <div class="footer">
        <!--<div class="footer-content">
            <div class="footer-section about"></div>
            <div class="footer-section links"></div>
            <div class="footer-section socials"></div>
        </div>-->

        <div class="footer-bottom">
            &copy; www.process.cl | Developed by FIIVE.
        </div>
    </div>
    <!------------------------------------------ FIN FOOTER ------------------------------------------>

    <!--------------------------------------- STATIC JAVASCRIPT -------------------------------------->
    <!--------------------------------------- STATIC JQUERY-3.5.1 ------------------------------------>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.dynamicTable-1.0.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>

</body>

</html>