{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Process Task Manager</title>
    <!---------------------------------- BOOSTRRAP CSS ------------------------------------------>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <!--------------------------------------- IONICONS ------------------------------------------->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!--------------------------------------- FONTAWESOME ---------------------------------------->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <!---------------------------------------- ESTILO CSS ---------------------------------------->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<body>

    <div id="sidebar" class="">
        <div class="">
            <!--<span>&#9776;</span>-->
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu"></ion-icon>
            </button>-->
        </div>
        <ul>
            <li>
                <img src="{% static 'img/processLogo.png' %}" class="logo-brand" alt="logo">
            </li>
            <li><a href="#" class="sidebar-toggler"><i class="fas fa-home"></i><span>  Inicio</span></a></li>
            <li><a href="#" class="sidebar-toggler"><i class="fas fa-tasks"></i><span>  Tareas</span></a></li>
            <li><a href="#" class="sidebar-toggler"><i class="fas fa-project-diagram"></i><span>  Progreso</span></a></li>
        </ul>
    </div>
    {% block content %}

    {% endblock %}
    <!--------------------------------------- STATIC JAVASCRIPT -------------------------------------->
    <!--------------------------------------- STATIC JQUERY-3.5.1 ------------------------------------>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.dynamicTable-1.0.0.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>