{% extends 'plantillabase.html' %}
{% load static %}

{% block content %}

<!-------------------------------- COMIENZO PAGE WRAPPER --------------------------------------->
<div class="page-wrapper">

<!------------------------------ CONTENEDOR FORMULARIO DE CONTACTO ---------------------------->
    <section id="contact">
        <!---------------------------------- socail --------------------------------------------->
        <div class="social">
            <!--ICONOS RRSS--------->
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>

        </div>
        <!--------------------------------- CAJA DE CONTACTO ------------------------------->
        <div class="contact-box">

            <!-------------------------------- CABEZERA ---------------------------------->
            <div class="c-heading">
                <img src="{% static 'img/processLogo.png' %}" class="logo-brand" alt="logoform">
                <br>
                <br>
                <p> <i class="fas fa-phone"></i>
                    +562 3500 2626</p>
                <br>
                <p> <i class="far fa-envelope-open"></i>
                    contacto@process.cl</p>
                <br>
                <p> <i class="fas fa-map-marker-alt" id="direc"></i>
                    Av. Vitacura 2939 – Piso 14 Edificio Millenium Las Condes - Santiago</p>
            </div>

            <!--------------------------------- INPUTS -------------------------------------->
            <div class="c-inputs">
                <form>
                    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese correo">
                    <textarea name="message" placeholder="Escriba su mensaje"></textarea>

                    <!-------------------------- BOTON ENVIAR------------------------------>
                    <button>Enviar</button>
                </form>
            </div>
        </div>

        <!----------------------------------------- MAPA ------------------------------------>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.4630337148938!2d-70.60447318426583!3d-33.41117060288476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf414aadee35%3A0xab54c3c8d99575f!2sAv%20Vitacura%202939%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1600294125973!5m2!1ses-419!2scl"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </section>
</div>
<!------------------------------------------- FIN PAGE WRAPPER ------------------------------------->

{% endblock %}