{% extends 'plantillabase.html' %}
{% load static %}
{% block content %}

<!--COMIENZO PAGE WRAPPER-->
<div class="page-wrapper">


    <!--COMIENZO FORMULARIO-->
    <section class="form-register">
        <form action="">
            <img src="{% static 'img/processLogo.png' %}" class="logo-brand" alt="logoform">
            </a>
            <h4>Registro de Empresas</h4>
            <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre de la empresa">
            <input class="controls" type="number" name="rut" id="rut" placeholder="Rut de la empresa">
            <input class="controls" type="text" name="rubro" id="rubro" placeholder="Rubro de la empresa">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Correo de la empresa">
            <input class="controls" type="password" name="correo" id="" placeholder="Contraseña">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a> </p>
            <input class="buttons" type="submit" value="Registrar">
            <p><a href="/login">Ya tengo cuenta</a></p>
        </form>
    </section>
    <!--FIN FORMULARIO-->
    <br>
    <br>
    <br>
      <!--COMIENZO DEL CARRUSEL DE IMAGENES-->
  <div class="carouselempresas">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/carousel1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel3.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div><!--FIN DEL CARRUSEL DE IMAGENES-->
</div><!--FIN PAGE WRAPPER-->


{% endblock %}