{% extends 'plantillabase.html' %}
{% load static %}

{% block content %}
<!------------------------------------------- COMIENZO PAGE WRAPPER ----------------------------------------------->
<div class="page-wrapper">
  <div class="admintable">
    <!--<table class="table">
      <thead class="tablebar">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tareas</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">aprobacion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><input class="buttons" type="submit" value="Entrar"></td>
        </tr>
      </tbody>
    </table>-->
    <table class="table table-bordered">
      <thead class="tablebar">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Aprobacion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><input class="buttonbarap" type="submit" value="Entrar"><input class="buttonbarno" type="submit" value="Entrar"></td>
        </tr>
      </tbody>
    </table>
    
    
  </div>



</div>
<!----------------------------------------------- FIN PAGE WRAPPER ---------------------------------------------------->
{% endblock %}