{% extends 'basefuncionario.html' %}
{% load static %}

{% block content %}

<h2>Tablero global de control</h2>

<h4>Tareas Generales</h4>

<section class="charts-container">
    <div class="grafico"></div>
    <div class="leyenda">
        <span class="leyenda_all">
            <span class="color_blue"></span>
            <p class="social">40% Terminadas</p>
        </span>
        <span class="leyenda_all">
            <span class="color_yellow"></span>
            <p class="social">30% Próximas</p>
        </span>
        <span class="leyenda_all">
            <span class="color_red"></span>
            <p class="social">18% Atrasadas</p>
        </span>
        <span class="leyenda_all">
            <span class="color_green"></span>
            <p class="social">12% Pendientes</p>
        </span>
        <p class="total">Total: 6.723.442</p>
    </div>
</section>

<hr>

<div class="graficontainer">
    <div class="graficojs">
        <canvas id="myChart0" width="100" height="100"></canvas>
    </div>
    <div class="graficojs">
        <canvas id="myChart1" width="100" height="100"></canvas>
    </div>
</div>


{% endblock %}