{% extends 'basefuncionario.html' %}
{% load static %}

{% block content %}

<!---------------TITULO-------------->
<h2>Tareas</h2>


<!------------TABLAS CON TAREAS DE HOY-------------->

<h6>Tareas Esta Semana</h6>
<hr id="tea" class="tea">
<div class="table-box">
    <div class="table-row table-head">
        <div class="table-cell first-cell">
            <p>Nombre Tarea</p>
        </div>
        <div class="table-cell">
            <p>Flujo</p>
        </div>
        <div class="table-cell">
            <p>Responsable</p>
        </div>
        <div class="table-cell">
            <p>Fecha Inicio</p>
        </div>
        <div class="table-cell">
            <p>Fecha Termino</p>
        </div>
        <div class="table-cell">
            <p>Estado</p>
        </div>
        <div class="table-cell last-cell">
            <p>Avance</p>
        </div>
    </div>



    {% for fes in FechaEstaSemana %}
    <div class="table-row">

        <div class="table-cell first-cell">
            <p>{{ fes.NOMBRE_TAREA }}</p>
        </div>
        <div class="table-cell">
            <p>{{ fes.NOMBRE_FLUJO }}</p>
        </div>
        <div class="table-cell">
            <p>{{ fes.NOMBRE }}</p>
        </div>
        <div class="table-cell">
            <p>{{ fes.FECHA_INICIO_TAREA }}</p>
        </div>
        <div class="table-cell">
            <p>{{ fes.FECHA_TERMINO_TAREA }}</p>
        </div>
        <div class="table-cell">
            <p>{{ fes.NOMBRE_ESTADO_TAREA }}</p>
        </div>
        <div class="table-cell last-cell">
            <select name="" id="avance">
                <option value="">0%</option>
                <option value="">25%</option>
                <option value="">50%</option>
                <option value="">75%</option>}
                <option value="">100%</option>
            </select>
        </div>
    </div>
    {% endfor %}




    <!------------TABLAS CON TAREAS ATRASADAS-------------->
    <h6>Tareas Atrasadas</h6>
    <hr id="ta" class="ta">
    <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Nombre Tarea</p>
            </div>
            <div class="table-cell">
                <p>Flujo</p>
            </div>
            <div class="table-cell">
                <p>Responsable</p>
            </div>
            <div class="table-cell">
                <p>Fecha Inicio</p>
            </div>
            <div class="table-cell">
                <p>Fecha Termino</p>
            </div>
            <div class="table-cell">
                <p>Estado</p>
            </div>
            <div class="table-cell last-cell">
                <p>Avance</p>
            </div>
        </div>

        {% for ft in FechaAtrasadas %}
        <div class="table-row">
            <div class="table-cell first-cell">
                <p>{{ ft.NOMBRE_TAREA }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.NOMBRE_TAREA }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.NOMBRE_FLUJO }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.NOMBRE }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.FECHA_INICIO_TAREA }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.FECHA_TERMINO_TAREA }}</p>
            </div>
            <div class="table-cell">
                <p>{{ ft.NOMBRE_ESTADO_TAREA }}</p>
            </div>
            <div class="table-cell last-cell">
                <select name="" id="avance">
                    <option value="">0%</option>
                    <option value="">25%</option>
                    <option value="">50%</option>
                    <option value="">75%</option>}
                    <option value="">100%</option>
                </select>
            </div>
        </div>
        {% endfor %}



        <!------------TABLAS CON PRÓXIMAS TAREAS-------------->
        <h6 >Próximas Tareas</h6>
        <hr id="tps" class="tps">
        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Nombre Tarea</p>
                </div>
                <div class="table-cell">
                    <p>Flujo</p>
                </div>
                <div class="table-cell">
                    <p>Responsable</p>
                </div>
                <div class="table-cell">
                    <p>Fecha Inicio</p>
                </div>
                <div class="table-cell">
                    <p>Fecha Termino</p>
                </div>
                <div class="table-cell">
                    <p>Estado</p>
                </div>
                <div class="table-cell last-cell">
                    <p>Avance</p>
                </div>
            </div>

            {% for fps in FechaProximaSemana %}
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>{{ fps.NOMBRE_TAREA }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ fps.NOMBRE_FLUJO }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ fps.NOMBRE }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ fps.FECHA_INICIO_TAREA }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ fps.FECHA_TERMINO_TAREA }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ fps.NOMBRE_ESTADO_TAREA }}</p>
                </div>
                <div class="table-cell last-cell">
                    <select name="" id="avance">
                        <option value="">0%</option>
                        <option value="">25%</option>
                        <option value="">50%</option>
                        <option value="">75%</option>}
                        <option value="">100%</option>
                    </select>
                </div>
            </div>
            {% endfor %}

            <!------------TABLAS CON TAREAS TERMINADAS-------------->
            <h6>Tareas Terminadas</h6>
            <hr  id="tt" class="tt">
            <!--<div class="table-box">
                <div class="table-row table-head">
                    <div class="table-cell first-cell">
                        <p>Seleccionar</p>
                    </div>
                    <div class="table-cell">
                        <p>Nombre Tarea</p>
                    </div>
                    <div class="table-cell">
                        <p>Flujo</p>
                    </div>
                    <div class="table-cell">
                        <p>Responsable</p>
                    </div>
                    <div class="table-cell">
                        <p>Fecha Inicio</p>
                    </div>
                    <div class="table-cell">
                        <p>Fecha Termino</p>
                    </div>
                    <div class="table-cell">
                        <p>Estado</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>Avance</p>
                    </div>
                </div>


                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>
                            <input type="checkbox" name="">
                        </p>
                    </div>
                    <div class="table-cell">
                        <p>Cocinar</p>
                    </div>
                    <div class="table-cell">
                        <p>Mantención</p>
                    </div>
                    <div class="table-cell">
                        <p>Vicente García</p>
                    </div>
                    <div class="table-cell">
                        <p>26-10-2020</p>
                    </div>
                    <div class="table-cell">
                        <p>26-10-2020</p>
                    </div>
                    <div class="table-cell">
                        <p>En proceso</p>
                    </div>
                    <div class="table-cell last-cell">
                        <select name="" id="avance">
                            <option value="">0%</option>
                            <option value="">25%</option>
                            <option value="">50%</option>
                            <option value="">75%</option>}
                            <option value="">100%</option>
                        </select>
                    </div>
                </div>
            </div> -->

            {% endblock %}