{% extends 'basedisenador.html' %}
{% load static %}

{% block content %}

<h2>Tareas</h2>

<!--PARTE SUPERIOR-->

<form action={% url 'AgregarTarea' %} method="POST" id="agregartarea">
    {% csrf_token %}
    <div class="container_flujo">
        <div class="doblediv">
            <form action={ url 'cargarTarea' } method="post">

                <div class="comboboxdisenador">
                    <select name="flujo" id="flujo">
                        <option value=0>Flujo</option>
                        {% for f in flujo %}
                        <option value="{{ f.ID_FLUJO }}">{{ f.NOMBRE_FLUJO }}</option>
                        {% endfor %}
                    </select>

                    <input type="text" class="txtbxdisenador" placeholder="Nombre" name="Nombre"
                        id="NombreTareaDisenador">

                    <input type="text" class="txtbxdisenador" placeholder="Descripcion" name="Descripcion"
                        id="DescripcionTareaDisenador">
                </div>
            </form>
            <div class="inputempresa">

                <div class="comboboxdisenador">

                    <select name="tarea" id="tarea">
                        <option value="">Tarea</option>
                        {% for t in tarea %}
                        <option value="{{ t.ID_TAREA }}">{{ t.NOMBRE_TAREA }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" id="AgregarTarea" class="btn btn3" title="Agregar">
        <a href="">
            <i class="fas fa-plus-circle"></i>
        </a>
    </button>

    <button id="GuardarTarea" class="btn btn3" title="Guardar Cambios">
        <a href="">
            <i class="far fa-save"></i>
        </a>
    </button>
</form>
<hr>
<!--PRIMER CONTENEDOR-->
<div class="container_flujo">
    <div class="doblediv">
        <div class="comboboxdisenador">
            <select name="" id="">
                <option value="">Flujo Trabajo</option>
                <option value="">Opcion 2</option>
                <option value="">Opcion 3</option>
                <option value="">Opcion 4</option>
                <option value="">Opcion 5</option>
            </select>
        </div>

        <div class="search-box">

            <input class="search-txt" type="text" name="" placeholder="Buscar">
            <a class="search-btn" href="">
                <i class="fas fa-search"></i>
            </a>

        </div>
    </div>
</div>
<!--PARTE INFERIOR-->
<div class="container_flujo">
    <!--box3-->
    <div class="box" id="box3">

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell">
                    <p>Nombre Flujo</p>
                </div>
                <div class="table-cell">
                    <p>Nombre Tarea</p>
                </div>

                <div class="table-cell last-cell">
                    <p>Fecha Inicio</p>
                </div>

                <div class="table-cell last-cell">
                    <p>Fecha Termino</p>
                </div>
                <div class="table-cell last-cell">
                    <p>Responsable</p>
                </div>

                <div class="table-cell last-cell">
                    <p>Estado Tarea</p>
                </div>
            </div>


            {% for t in tarea%}
            <div class="table-row">
                <div class="table-cell">
                    <p>{{ t.DESCRIPCION_FLUJO }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ t.NOMBRE_TAREA }}</p>
                </div>

                <div class="table-cell">
                    <p>{{ t.FECHA_INICIO_TAREA }}</p>
                </div>

                <div class="table-cell">
                    <p>{{ t.FECHA_TERMINO_TAREA }}</p>
                </div>

                <div class="table-cell last-cell">
                    <p>{{ t.NOMBRE }}</p>
                </div>

                <div class="table-cell last-cell">
                    <p>{{ t.DESCRIPCION_TAREA }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script>
    //funcion para obtener cookie
    function getCookie(name) {
        var cookieValue = null
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';')
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i])

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                    break
                }
            }
        }
        return cookieValue
    }

    //incluir csrf token a ajax
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:./.test(settings.url) || /^https:./.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
            }
        }
    })
    $('#flujo').on('change', function () {
        $('#tarea').html('')

        $.ajax({
            data: { 'flujo': $('#flujo').val() },
            url: "{% url 'tareadeflujo' %}",
            type: 'POST',
            success: function (data) {
                console.log(data)
                var tareas = data.tareas
                tareas.forEach(tarea => {
                    var htmlTarea = `
                <option value="${tarea.ID_TAREA}">${tarea.NOMBRE_TAREA}</option>`
                    $('#tarea').append(htmlTarea)

                });

            }
        })


    })
</script>

{% endblock script %}