{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/tarea.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="logo-process">
        <img src="{% static 'img/processLogo.png' %}">
    </div>

    </div>
    <!-- Board info bar -->
    <section class="board-info-bar">
            <div class="boton-Inicio">
                <img src="https://img.icons8.com/material-sharp/25/000000/home.png" />
                <button class="boards-btn btn">Inicio</button>
            </div>
            <div class="boton-notificaciones">
                <img src="https://img.icons8.com/material/25/000000/filled-appointment-reminders.png" />
                <button class="boards-btn btn">Notificaciones</button>
            </div>
            <div class="boton-personal">
                <img src="https://img.icons8.com/ios-glyphs/25/000000/user-male.png" />
                <button class="boards-btn btn">Personal</button>
            </div>
            <div class="boton-flujos">
                <img src="https://img.icons8.com/material-sharp/25/000000/flow-chart.png" />
                <button class="boards-btn btn">Flujos de Trabajo</button>
    
            </div>
            <div class="boton-progreso">
                <img src="https://img.icons8.com/ios-filled/25/000000/bar-chart.png" />
                <button class="boards-btn btn">Progreso</button>
            </div>
            <div class="boton-salir">
                <img src="https://img.icons8.com/pastel-glyph/25/000000/exit--v1.png" />
                <button class="boards-btn btn">Salir</button>
            </div>
            <!-- <div class="board-search">
                <input type="search" class="board-search-input" aria-label="Board Search">
                <i class="fas fa-search search-icon" aria-hidden="true"></i>
            </div> -->
        </div>
    </section>

    <!-- Lists container -->
    <section class="lists-container">

        <div class="list">

            <h3 class="list-title">Limpiar Bodega</h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>Complete mock-up for client website</li>
                <li>Email mock-up to client for feedback</li>
                <li>Update personal website header background image</li>
                <li>Update personal website heading fonts</li>
                <li>Add google map to personal website</li>
                <li>Begin draft of CSS Grid article</li>
                <li>Read new CSS-Tricks articles</li>
                <li>Read new Smashing Magazine articles</li>
                <li>Read other bookmarked articles</li>
                <li>Look through portfolios to gather inspiration</li>
                <li>Create something cool for CodePen</li>
                <li>Post latest CodePen work on Twitter</li>
                <li>Listen to new Syntax.fm episode</li>
                <li>Listen to new CodePen Radio episode</li>
            </ul>
        </div>

        <div class="list">

            <h3 class="list-title"></h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>Clear email inbox</li>
                <li>Finalise requirements for client web design</li>
                <li>Begin work on mock-up for client website</li>
            </ul>
        </div>

        <div class="list">

            <h3 class="list-title"></h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>HTML Elements</li>
                <li>HTML Form Validation</li>
                <li>HTML Structured Data</li>
                <li>Advanced CSS Selectors</li>
                <li>CSS Transforms</li>
                <li>CSS Animations</li>
                <li>CSS Flexbox</li>
                <li>CSS Grid</li>
                <li>CSS Methodologies (BEM, SMACSS etc.)</li>
                <li>SASS/SCSS</li>
                <li>Layout Fallbacks</li>
                <li>Responsive Design</li>
                <li>Design Patterns</li>
                <li>JavaScript Fundamentals</li>
                <li>JavaScript OOP</li>
                <li>JavaScript DOM Manipulation</li>
                <li>JavaScript Debugging Techniques</li>
            </ul>
        </div>

        <div class="list">

            <h3 class="list-title"></h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>HTML 5.2 New Features</li>
                <li>Responsive Images (picture element, srcset/sizes etc.)</li>
                <li>Serverless</li>
                <li>Variable Fonts</li>
                <li>Shadow DOM</li>
                <li>ES6+</li>
                <li>JSON & AJAX</li>
                <li>API's</li>
                <li>JavaScript Patterns</li>
                <li>JavaScript Testing</li>
                <li>jQuery</li>
                <li>SVG</li>
                <li>React JS</li>

            </ul>
        </div>

        <div class="list">

            <h3 class="list-title"></h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>Code Academy</li>
                <li>CodePen</li>
                <li>Codrops</li>
                <li>CSS-Tricks</li>
                <li>Free Code Camp</li>
                <li>Khan Academy</li>
                <li>Lynda</li>
                <li>Medium</li>
                <li>Mozilla Developer Network</li>
                <li>Stack Overflow</li>
                <li>Team Treehouse</li>
                <li>Tuts Plus</li>
                <li>Udemy</li>
                <li>WPSessions</li>
                <li>YouTube</li>
            </ul>
        </div>

        <div class="list">

            <h3 class="list-title"></h3>
            <button class="add-card-btn btn">Agregar Tarea</button>

            <ul class="list-items">
                <li>Adam Khoury</li>
                <li>Brad Hussey</li>
                <li>CSS-Tricks (Chris Coyier)</li>
                <li>Derek Banas</li>
                <li>DevTips (Travis Neilson)</li>
                <li>Free Code Camp</li>
                <li>Fun Fun Function (Mattias Petter Johansson)</li>
                <li>Google Chrome Developers</li>
                <li>Layout Land (Jen Simmons)</li>
                <li>Learn Code Academy</li>
                <li>Level Up Tuts (Scott Tolinski)</li>
                <li>Mackenzie Child</li>
                <li>Rachel Andrew</li>
                <li>The Net Ninja (Shaun Pelling)</li>
                <li>The New Boston (Bucky Roberts)</li>
                <li>Traversy Media (Brad Traversy)</li>
                <li>Wes Bos</li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html>