{% extends 'baseanalista.html' %}
{% load static %}

{% block content %}
<h2>Flujos de Trabajo</h2>
<div class="table-box">
    <div class="table-row table-head">
        <div class="table-cell first-cell">
            <p>Nombre del flujo</p>
        </div>
        <div class="table-cell">
            <p>Departamento</p>
        </div>
        <div class="table-cell">
            <p>Numero Tareas</p>
        </div>
        <div class="table-cell">
            <p>Tareas Terminadas</p>
        </div>
        <div class="table-cell last-cell">
            <p>Porcentaje Progreso</p>
        </div> 
    </div>


    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Limpieza</p>
        </div>
        <div class="table-cell">
            <p>099</p>
        </div>
        <div class="table-cell">
            <p>125</p>
        </div>
        <div class="table-cell">
            <p>111</p>
        </div>
        <div class="table-cell last-cell">
            <p>77%</p>
        </div>   
    </div>


    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Despachos</p>
        </div>
        <div class="table-cell">
            <p>056</p>
        </div>
        <div class="table-cell">
            <p>85</p>
        </div>
        <div class="table-cell">
            <p>84</p>
        </div>
        <div class="table-cell last-cell">
            <p>97%</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Arriendos</p>
        </div>
        <div class="table-cell">
            <p>022</p>
        </div>
        <div class="table-cell">
            <p>57</p>
        </div>
        <div class="table-cell">
            <p>15</p>
        </div>
        <div class="table-cell last-cell">
            <p>22%</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Ventas</p>
        </div>
        <div class="table-cell">
            <p>062</p>
        </div>
        <div class="table-cell">
            <p>100</p>
        </div>
        <div class="table-cell">
            <p>11</p>
        </div>
        <div class="table-cell last-cell">
            <p>11%</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Decoración</p>
        </div>
        <div class="table-cell">
            <p>071</p>
        </div>
        <div class="table-cell">
            <p>75</p>
        </div>
        <div class="table-cell">
            <p>30</p>
        </div>
        <div class="table-cell last-cell">
            <p>44%</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell first-cell">
            <p>Mantención</p>
        </div>
        <div class="table-cell">
            <p>001</p>
        </div>
        <div class="table-cell">
            <p>125</p>
        </div>
        <div class="table-cell">
            <p>41</p>
        </div>
        <div class="table-cell last-cell">
            <p>34%</p>
        </div>
    </div>

</div>

</div>


<div class="containerbutton">

    <!--<button class="btn btn1"><i class="fas fa-redo-alt"></i></button>
    <button class="btn btn2"><i class="fas fa-user-plus"></i></button>-->
    <button class="btn btn3" title="Generar Reporte">
        <i class="far fa-file-pdf"></i>
    </button>
    
</div>


{% endblock %}