{% extends 'basedisenador.html' %}
{% load static %}

{% block content %}

<h2>Flujos</h2>
<!--PARTE SUPERIOR-->


<div class="container_flujo">

    <div class="doblediv">



        <form action="" method="post" id="agregarflujodisenador">
            {% csrf_token %}

            <div class="comboboxdisenador">
                <select name="Unidad" id="">
                    {% for u in unidad %}
                    <option value="">{{ u.NOMBRE_UNIDAD }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="inputempresa">
                <input type="text" class="txtbx" placeholder="Nombre" name="" id="NombreFlujo">

                <input type="date" class="txtbx" placeholder="Fecha Inicio" title="Fecha Inicio" name=""
                    id="Fecha_Inicio">

                <input type="date" class="txtbx" placeholder="Fecha Inicio" title="Fecha Termino" name=""
                    id="Fecha_Termino">
                <div class="box" id="box3">
                    <div class="textarea">

                        <textarea name="message" placeholder="Escriba su mensaje"></textarea>

                    </div>
                </div>
            </div>

            <input type="submit">

            <div class="containerbutton">
                <button class="btn btn3" title="Agregar">
                    <a href="">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </button>
                <button class="btn btn3" title="Modificar">
                    <a href="#">
                        <i class="fas fa-pen-alt"></i>
                    </a>
                </button>

                <button class="btn btn3" title="Guardar Cambios">
                    <a href="">
                        <i class="far fa-save"></i>
                    </a>
                </button>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="box" id="box3">

    <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Nombre Flujo</p>
            </div>

            <div class="table-cell last-cell">
                <p>Descripcion</p>
            </div>
        </div>

        {% for f in flujo %}
        <div class="table-row">
            <div class="table-cell first-cell">
                <p>{{ f.NOMBRE_FLUJO }}</p>
            </div>

            <div class="table-cell last-cell">
                <p>{{ f.DESCRIPCION_FLUJO }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}