{% extends 'baseadministrador.html' %}
{% load static %}

{% block content %}

<h2>Usuarios</h2>

<div class="table-box">
    <div class="table-row table-head">
        <div class="table-cell first-cell">
            <p>Seleccione Usuario</p>
        </div>
        <div class="table-cell">
            <p>Nombre Usuarios</p>
        </div>
        <div class="table-cell">
            <p>Cargo</p>
        </div>
        <div class="table-cell">
            <p>Rol</p>
        </div>
        <div class="table-cell last-cell">
            <p>Email</p>
        </div>
    </div>

    {% for e in empleado  %}
    <div class="table-row">
        <div class="table-cell first-cell">
            <input type="checkbox" name="RUT" value="{{e.RUT}}">
        </div>
        <div class="table-cell">
            <p> {{ e.NOMBRE }} </p>
        </div>
        <div class="table-cell">
            <p>{{ e.DESCRIPCION_CARGO }}</p>
        </div>
        <div class="table-cell">
            <p>{{ e.DESCRIPCION_ROL }}</p>
        </div>
        <div class="table-cell last-cell">
            <p>{{ e.MAIL }}</p>
        </div>
    </div>
    {% endfor %}
</div>


<div class="containerbutton">

    <!--<button class="btn btn1" title="Cargar Usuarios">
        <a href="#">
            <i class="fas fa-file-upload"></i>
        </a>         
    </button>-->
    <button id="boton-agregar-usuarios" class="btn btn2" title="Agregar Usuario">
        <a href="#">
            <i class="fas fa-user-plus"></i>
        </a>
    </button>
    <button class="btn btn3" title="Eliminar Usuario">
        <a href="">
            <i class="fas fa-user-minus"></i>
        </a>
    </button>


    <!--VENTANA MODAL-->
    <form action={% url 'AgregarUsuario' %} method="POST" id="agregarusuario">
        {% csrf_token %}
        <div id="tvesModal" class="modalContainer">
            <div class="modal-content">
                <span class="close">×</span>
                <h2>Agregar Usuario</h2>

                <section class="form-register">

                    <input class="controls" type="text" name="Username" id="Username" placeholder="Username">

                    <input class="controls" type="text" name="Password" id="Password" placeholder="Password">

                    <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Nombre">

                    <input class="controls" type="text" name="rut" id="rut" placeholder="RUT">

                    <input class="controls" type="text" name="email" id="email" placeholder="Correo Electronico">

                    <select name="rol" id="rol" class="txtbxr">
                        {% for r in rol %}
                        <option value="{{ r.ID_ROL }}">{{ r.DESCRIPCION }}</option>
                        {% endfor %}
                    </select>

                    <select name="cargo" id="cargo" class="txtbx">
                        {% for c in cargo %}
                        <option value="{{ c.ID_CARGO }}">{{ c.NOMBRE_CARGO }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" id="GuardarUsuario" value="Guardar" class="btn btn4">

                </section>
            </div>
        </div>
    </form>


</div>


{% endblock %}