{% extends 'basefuncionario.html' %}
{% load static %}

{% block content %}


<h2>Tareas</h2>
<!--
<div class="containerdata" id="diome">
    <div class="item" id="item1">   
       <h3>Esta Semana</h3>
       {% for t in tarea %}

        <table>
            <tr>
                <P>{{ t.NOMBRE_TAREA }}</P>
                
            </tr>
        </table>
        {% endfor %}
    </div>
   
    <div class="item" id="item2">
        <h3>Proxima Semana</h3>


        <table>
            <tr>
                <th>Tarea 1</th>
                <th>Tarea 2</th>
                <th>Tarea 3</th>
                <th>Tarea 4</th>
            </tr>
            </tr>
            <tr>
                <td>Limpiar</td>
                <td>Ordenar</td>
                <td>Reponer</td>
                <td>Despachos</td>
              </tr>
        
        </table>

    </div>
    <div class="item" id="item3">
        <h3>Tareas Atrasadas</h3>

       
        <table>
            <tr>
                <th>Tarea 1</th>
                <th>Tarea 2</th>
                <th>Tarea 3</th>
                <th>Tarea 4</th>
            </tr>
            </tr>
            <tr>
                <td>Barrer</td>
                <td>Cocinar</td>
                <td>Despachos</td>
                <td>Envios</td>
              </tr>
        
        </table>


    </div>
    <div class="item" id="item4">
        <h3>Tareas Completas</h3>

     
        <table>
            <tr>
                <th>Tarea 1</th>
                <th>Tarea 2</th>
                <th>Tarea 3</th>
                <th>Tarea 4</th>
            </tr>
            </tr>
            <tr>
                <td>Barrer</td>
                <td>Cocinar</td>
                <td>Despachos</td>
                <td>Envios</td>
              </tr>
        
        </table>
    </div>
</div>


</div>

-->
{% endblock %}