body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/*.container{
    width: 100%;
    background: #bbb8b8;
    height: 100vh;
}*/

/*------------TITULOS USUARIOS------------*/
h2{
    font-family: Verdana;
    text-align: center;
    font-size: 40px;
    color: #0b99d1;
    text-transform: uppercase;
}

h4{
    font-family: Verdana;
    text-align: center;
    font-size: 25px;
    color: #0b99d1;
}


h6{
    font-family: Verdana;
    font-size: 18px;
    margin-left: 10%;
    text-transform: uppercase;
    color: #0b99d1;
}

/*------------FIN TITULOS USUARIOS------------*/

hr{
    border: 1px solid #0b99d1;
    background-color: #0b99d1;
    /*text-align: center;*/

}

/*------------Logo Principal-------------*/
.logo-brand {
    min-width: 160px;
    max-width: 220px;
}
/*------------ FIN Logo Principal-------------*/


/*-----------------------COMIENZO NAVBAR------------------------------*/
.nav-strip {
    width: 100%;
    padding: 20px 60px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 3px 6px 0 #0b99d1;
}

.logo {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    font-size: 35px;
    font-family: Verdana;
}

.navbarvista{
    margin: 0;padding: 0;
    display: inline-block;
    float: right;   
}

.navbarvista li{
    display: inline-block;
    margin: 5px 50px;
    list-style: none;
}

.navbarvista li a{
    color: #0b99d1;
    font-size: 33px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    font-family: Verdana;
    text-decoration: none;
    display: block;
}

.navbarvista li a span{
    margin-left: 7px;
}
/*-----------------------FIN NAVBAR------------------------------*/



/*----------------------DIVS CENTRALES FUNCIONARIO---------------------*/
.containerdata{
    background-color: #bbb8b85b;
    padding: 1em;
    margin-top: 20px;
    overflow: hidden;
}
.item{

    margin: 1em;
    padding: 1em;
    color: antiquewhite;
    float: left;
    width: 335px;
    height: 600px;
}

#item1{
    
    background-color: #0ad60a75;
}

#item2{
    background-color: #dbff116e;
}

#item3{
    background-color: #ee37097a;   
}

#item4{
    background-color: #0b99d179;
}

#diome{
    width: 1600px;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
}

#centro{
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.item h3{
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
}
/*--------------------TABLA TAREAS FUNCIONARIO----------------------*/
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    color: black;
  }
/*--------------------TABLA TAREAS FUNCIONARIO----------------------*/


/*------------------------TABLA CON LISTAS Y TAREAS---------------*/
.table-box
{
    margin: 20px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 5px auto;
    font-family: Verdana;
    background: transparent;
    padding: 2px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #0b99d1;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    font-family: Verdana;
}

/*.table-headhoy{
    background: #71FF71;
    box-shadow: none;
    color: #000000;
    font-weight: 600;
    font-family: Verdana;
}

.table-headatrasadas{
    background: #FF3E3E;
    box-shadow: none;
    color: #000000;
    font-weight: 600;
    font-family: Verdana;
}

.table-headproximas{
    background: #F5FB44;
    box-shadow: none;
    color: #000000;
    font-weight: 600;
    font-family: Verdana;
}

.table-headterminadas{
    background: #8BB3DF;
    box-shadow: none;
    color: #000000;
    font-weight: 600;
}*/

.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 10%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
    font-family: Verdana;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
    font-family: Verdana;
}
.last-cell{
    border-right: none;
    font-family: Verdana;
}
a{
    text-decoration: none;
    color: #555;
    font-family: Verdana;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
/*------------------------------FIN TABLA CON LISTAS-------------------------------*/


/*---------------------BOTONES------------------------*/
.containerbutton{
    text-align: right;
    margin-right: 10%;
    margin-top: 10px;
}
.btn{
    border: 1px solid #0b99d1;
    background: none;
    
    font-family: Verdana;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1,.btn2,.btn3{   
    columns: #0b99d1;
    color: #0b99d1;
}

.btn4{
    width: 120px;
    height: 25px;
}

.btn i a{
    color: #0b99d1;

}
.btn1:hover,.btn2:hover,.btn3:hover{
    color: #0b99d1;
}

.btn a{
    color: #0b99d1;
    font-size: 25px;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #0b99d12e;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before,.btn2::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}



.btn1:hover::before,.btn2:hover::before,.btn3:hover::before{
    height: 180%;
}
/*---------------------FIN BOTONES------------------------*/

/*--------------------INICIO BUSCADOR---------------------*/
.search-box{
    text-align: right;
    height: 10px;
    margin-right: 10%;
    padding: 5px;
    border:#0b99d1;

}

.search-txt{
    border: 3px solid #0b99d1;
    padding: 10px;
    width: 150px;
    height: 15px;
    font-family: Verdana;
    margin-right: 10%;
}

.search-btn{
    color: #0b99d1;
    font-size: 25px;
}
/*--------------------FIN BUSCADOR---------------------*/


/*-----------------------INICIO GRAFICOS-----------------------*/
:root{
    --color_blue: rgba(0, 162, 255, 0.781);
    --color_yellow: rgba(255, 255, 0, 0.808);
    --color_red: rgba(255, 0, 0, 0.787);
    --color_green: rgba(0, 128, 0, 0.774);
}

.charts-container{
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.grafico{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_blue) 40%,
                                    var(--color_yellow) 40% 70%,
                                    var(--color_red) 70% 88%,
                                    var(--color_green) 88%);
box-shadow: 1px 1px 5px 1px rgb(70, 70, 70);

}

.leyenda_all{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

[class^="color_"]{
    width: 15px;
    height: 15px;
    background-color: var(--color_blue);
    margin-right: 8px;
    border-radius: 3px;
}

.color_yellow{
    background-color: var(--color_yellow);
}

.color_red{
    background-color: var(--color_red);
}

.color_green{
    background-color: var(--color_green);
}

.social{
    color: #0b99d1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.total{
    color: rgb(70, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 3px;
    background-color: #0b99d1;
    color: #ffffff;
}

/*--------------GRAFICOS JS*------------------*/
.graficontainer{
    padding: 1em;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 100px;
}

.graficojs{
    /*margin-right: 10%;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    text-align: right;*/
    margin: 1em;
    padding: 8em;
    color: antiquewhite;
    float: left;
    width: 500px;
    height: 350px;

}


/*-----------------------FIN GRAFICOS-----------------------*/

/*-------------------------COMBOBOX DISEÑADOR--------------------------*/


.container_flujo{
    /*background-color: #073a4e52;*/
    overflow: hidden;
}

.box{
    margin: 10px;
    float: left;
}

.box select{
    background: #0b99d1;
    color: floralwhite;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    font-family: Verdana;
    font-size: medium;
    margin-left: 10%;  
}

.textbox{
    margin-right: 20%;
    float: left;
}

.textbox input{
    margin-top: 1em;
    padding: 10px;
    width: 177px;
    height: 25px;
    border-color: #0b99d1;
}

#box1{
    /*background-color: #dbff116e;*/
    margin-top: 100px;
    width: 100%;
    display: flex;  
    /*margin-left: 150px;
    padding: 4em;*/

}


#box3{
    /*background-color: #ff11256e;*/
    width: 100%;
}

.doblediv{
    overflow: hidden;
    font-size: xx-large;
}

.comboboxdisenador{
    float: left;
    height: 50px;
    margin-left: 11.1%;
    padding-right: 20px;
}
.comboboxdisenador select{
    background: #0b99d1;
    color: floralwhite;
    padding: 10px;
    width: 175px;
    height: 45px;
    border: none;
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}

.modal-content select{
    background: #0b99d1;
    color: floralwhite;
    padding: 10px;
    /*width: 175px;
    height: 45px;
    border: none;*/
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}

.textarea form{
    text-align: center;
    width: 80%;
}

.textarea textarea{
    text-align: center;
    width: 100%;
    height: 200px;
    margin-left: 190px;
}
/*--------------------Ventana Modal---------------------*/
.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-top: 5px solid #58abb7;
    width: 30%;
    height: 875px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-user-modify: read-write-plaintext-only;
    text-align-last: center;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*-------------------------------------------------------*/

.inputempresa{
    align-items: center;
}

.inputempresa .txtbx{
    height: 17.8px;
}

/*-------------------------COMBOBOX TABLA TAREAS FUNCIONARIO------------------------*/
/*#avance{
    width: 150px;
    height: 50px;
    border: 2px solid  #0b99d1;
}*/

.tea{
    border: 2px solid #71FF71;
    background-color: #71FF71;
    height: 2px;
    text-align: center;
    width: 80%;
}

.ta{
    border: 2px solid #FF3E3E;
    background-color: #FF3E3E;
    height: 2px;
    text-align: center;
    width: 80%;
}

.tps{
    border: 2px solid #e5ec10;
    background-color: #e5ec10;
    height: 2px;
    text-align: center;
    width: 80%;
}

.tt{
    border: 2px solid #8BB3DF;
    background-color: #8BB3DF;
    height: 2px;
    text-align: center;
    width: 80%;
}
/*FIN CLASES DE HR TAREA*/

/*INICIO CLASES DE HR TAREA*/
.tea{
    border: 1px solid #71FF71;
    background-color: #71FF71;
    height: 2px;
    text-align: center;
    width: 80%;
}

.ta{
    border: 1px solid #FF3E3E;
    background-color: #FF3E3E;
    height: 2px;
    text-align: center;
    width: 80%;
}

.tps{
    border: 1px solid #e5ec10;
    background-color: #e5ec10;
    height: 2px;
    text-align: center;
    width: 80%;
}

.tt{
    border: 1px solid #8BB3DF;
    background-color: #8BB3DF;
    height: 2px;
    text-align: center;
    width: 80%;
}
/*FIN CLASES DE HR TAREA*/

#avance{
    width: 150px;
    height: 50px;
    border: 2px solid  #0b99d1;
}

#tea{
    color: #71FF71;
    margin-bottom: 1px;
    position: relative;  
}

#ta{
    color: #FF3E3E;
    margin-bottom: 1px;
    position: relative;
}

#tps{
    color: #e5ec10;
    margin-bottom: 1px;
    position: relative;
}

#tt{
    color: #8BB3DF;
    margin-bottom: 1px;
    position: relative;
}



/*-----TEXTAREAS FORMATO-------*/

.txtbx{
    border: 3px solid #0b99d1;
    padding: 10px;
    width: 175px;
    height: 45px;
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}

#avanceflujo{
    width: 140px;
    height: 35px;
    border: 2px solid  #0b99d1;
}


/*---------------------------------*/

.controls{
    width: 210px;
    height: 25px;
    border: 2px solid  #0b99d1;
    padding: 0.5em;
    margin-bottom: 5px;
}

.form-register{
    border: 2px solid  #0b99d1;
    height: 615px;
    width: 240px;
    padding: 0.5em;
    margin-left: 27%;
    margin-bottom: 5px;
}

.botonreporte{
    margin-top: 300px;
    margin-left: 47%;
}



.TAREA_ID_TAREA{
    background: #0b99d1;
    color: floralwhite;
    padding: 10px;
    width: 175px;
    height: 45px;
    border: none;
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}



#AgregarTarea{
    margin-left: 85%;

}


#tarea{
    margin-left: 75%;
}

.txtbxdisenador{
    border: 3px solid #0b99d1;
    padding: 10px;
    width: 155px;
    height: 20px;
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}


.depende{
    display: inline;
    font-style: Verdana;
}



/*.comboboxdisenadordoble{
    float: left;
    height: 50px;
    margin-left: 11.1%;
    padding-right: 20px;
    display: inline;
}
.comboboxdisenadordoble select{
    background: #0b99d1;
    color: floralwhite;
    padding: 10px;
    width: 175px;
    height: 45px;
    border: none;
    font-family: Verdana;
    font-size: medium;
    margin-left: 0.8em;  
}*






/*ARRIBA TABLA DISEÑADOR

.textboxflujos input{
    margin-top: 1em;
    width: 177px;
    height: 25px;
    border-color: #0b99d1;
    margin-right: 10%;
}*/

/*--------------------INICIO BUSCADOR---------------------*/
/*.search-boxflujo{
    text-align: right;
    height: 25px;
    margin-right: 10%;
    padding: 5px;
    border:#0b99d1;
    border-color: #0b99d1;
}

.search-btn{
    color: #0b99d1;
    font-size: 25px;
}*/
/*--------------------FIN BUSCADOR---------------------*/



.tareadisenador{

}




/*BOTONES DISEÑADOR
.containerbuttonflujo{
    text-align: center;
    margin-right: 10%;
    margin-top: 75px;
}

.btnflujo{
    border: 1px solid #0b99d1;
    background: none;
    padding: 10px;
    font-size: 25px;
    font-family: Verdana;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btnflujo2,.btnflujo3{   
    columns: #0b99d1;
    color: #0b99d1;
}

.btnflujo i{
    color: #0b99d1;
}
.btnflujo2:hover,.btnflujo3:hover{
    color: #0b99d1;
}


.btnflujo::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #0b99d12e;
    z-index: -1;
    transition: 0.8s;
}

.btnflujo2::before,.btnflujo3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}


.btnflujo2:hover::before,.btnflujo3:hover::before{
    height: 180%;
}
*/





/*-------------------------- INICIO NAVBAR RESPONSIVE -----------------------------*/
/*@media (max-width:767px){
    .nav-strip{
        padding: 20px;
    }
    .menu-icon{
        display: inline-block;
        width: 40px;
        height: 30px;
        position: absolute;        
    }

    .menu-icon span{
        width: 100%;
        display: block;
        height: 3px;
        background: #000000;
        position: absolute;
        left: 0;
        top: 0;
    }
    .menu-icon span:before{
        content: '';
        position: absolute;
        left: 0;
        top: -15px;
        width: 100%;
        height: 3px;
        background:#0b99d1;
    }
    .menu-icon span:after{
        content: '';
        position: absolute;
        left: 0;
        top: 15px;
        width: 100%;
        height: 3px;
        background:#0b99d1;
    }
    .navbarvista{
        background: #eeeaea8c;
        position: absolute;
        top: 100px;
        left: 10px;
        right: 10px;
    }
    .navbarvista li{
        display: block;
        margin: 0px;
        border-bottom: 2px solid #0b99d1;
    }
    .navbarvista li a{
        color: #0b99d1;
        padding: 10px;
    }
}*/
/*-------------------------- FIN NAVBAR RESPONSIVE -----------------------------*/