:root {
    font-size: 10px;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
  
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

.botones > div > button {
    background-color: rgb(134, 202, 32);
}

.botones > div > img {
    padding-bottom: 5px;
}

.grid-container .logo-process {
    grid-row: 1 / 1;
    text-align: center;
}

.grid-container .botones {
    grid-column: 1 / 1;
    grid-row: 2 /2;
    display: flex;
    white-space: pre-line;
    text-align-last: center;
}

.grid-container .botones > div {
    padding-right: 5px;
}

.grid-container .Botones .boton-Inicio{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    padding-right: 5px;
}

.grid-container .Botones .boton-notificaciones{
    display: block;
    padding-right: 5px;
}

p {
    display: none;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    background-color: darkseagreen;
}
table td,
table th {
    border-top: 1px solid #ecf0f1;
    padding: 10px;
}
table td {
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
}
table th {
    background-color: #4ecdc4;
}
table tr:nth-of-type(even) td {
    background-color: #d9f4f2;
}
table .total th {
    background-color: white;
}
table .total td {
    text-align: right;
    font-weight: 700;
}
  
.mobile-header {
    display: none;
}

@media only screen and (max-width: 760px) {
    
    p {
      display: block;
      font-weight: bold;
    }
  
    table tr td:not(:first-child),
    table tr th:not(:first-child),
    table tr td:not(.total-val) {
      display: none;
    }
    table tr:nth-of-type(even) td:first-child {
      background-color: #d9f4f2;
    }
    table tr:nth-of-type(odd) td:first-child {
      background-color: white;
    }
    table tr:nth-of-type(even) td:not(:first-child) {
      background-color: white;
    }
    table tr th:first-child {
      width: 100%;
      display: block;
    }
    table tr th:not(:first-child) {
      width: 40%;
      transition: transform 0.4s ease-out;
      transform: translateY(-9999px);
      position: relative;
      z-index: -1;
    }
    table tr td:not(:first-child) {
      transition: transform 0.4s ease-out;
      transform: translateY(-9999px);
      width: 60%;
      position: relative;
      z-index: -1;
    }
    table tr td:first-child {
      display: block;
      cursor: pointer;
    }
    table tr.total th {
      width: 25%;
      display: inline-block;
    }
    table tr td.total-val {
      display: inline-block;
      transform: translateY(0);
      width: 75%;
    }
}
@media only screen and (max-width: 300px) {
    table tr th:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
    table tr td:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
}
