/*-------------------------------------- CSS INDICE ------------------------------------------
==============================================================================================
1. Css Principal
    1.1 Fuente de Google
2. Navbar
    2.1 Color Fuente
    2.2 Logos Navbar
    2.3 Boton Responsive 
3. Formularios
    3.1 Base Formulario
    3.2 Logo Formulario
    3.3 Titulo Formulario
    3.4 Panel Formulario
    3.5 Botones Formulario
4. Footer
5. Page Wrapper
6. Index
    6.1 Imagen Central
    6.2 Carrusel Empresas
7. Pagina Contacto
8. Panel Control
9. Side Panel
10.
===============================================================================================
*/





/*--------------------------------------- 1. Css Principal --------------------------------*/


/*-------- 1.1 Fuente de Google --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------- fIN Fuente de Google --------*/

html,body{

    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}


/*--------------------------------------- END Core Css ------------------------------------*/



/*-------------------------------------- 2. Navbar ----------------------------------------*/


.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #24af08;
    min-height: 100px;
    font-size: 20px;
}

/*--------------- 2.1 Color Fuente ----------------*/
.nav-link{color: #137dbb}
.nav-link:hover {color: #00aeff}
/*--------------- FIN Color Fuente ----------------*/


/*--------------- 2.2 Logos Navbar -----------------*/
.logo-brand {
    min-width: 160px;
    max-width: 220px;
}
.logo-brand2 {
    min-width: 175px;
    max-width: 200px;
}
/*----------------- FIN Logos Navbar ----------------*/


/*---------------- 2.3 Boton Responsive ---------------*/
.navbar-toggler {
    font-size: 40px;
    color: #137dbb;
}
/*---------------- FIN Boton Responsive ----------------*/

.sidebar-toggler {
    font-size: 25px;
    color: #079cf3;
}

/*---------------------------------------- FIN Navbar -------------------------------------*/



/*---------------------------------------- 3. Formularios ---------------------------------*/


/*--------------- 3.1 Base Formulario ---------------*/
.form-register {
    border: 2px solid  #24af08;
    width: 400px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #292929;
    box-shadow: 7px 13px 37px #000000;
}

.form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    
    
.form-register a:hover {
        color: #292929;
        text-decoration: underline;
    }
    

.form-register .botons {
        width: 100%;
        background: #ffffff;
        border: none;
        padding: 12px;
        color: #1b1b1b;
        margin: 16px 0;
        font-size: 16px;
        border: 2px solid #24af08;
    }

/*--------------- FIN Base Formulario ----------------*/


/*--------------- 3.2 Logo formulario ---------------*/
#logoform {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*--------------- FIN Logo formulario ---------------*/


/*------------- 3.3 Titulo Formulario -------------*/ 

.form-register h4 {

    font-size: 33px;
    margin-bottom: 20px;
    color: #00aeff;
}
/*------------- FIN Titulo Formulario -------------*/


/*-------------- 3.4 Panel Formulario ----------------*/
.controls {
    width:  100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 2px solid #24af08;
    font-family: 'calibri';
    font-size: 20px;
    color: #1b1b1b;
}
/*-------------- FIN Panel Formulario ----------------*/


/*----------- 3.5 Botones Formulario -------------*/
.buttons {
    width: 100%;
    height: 40px;
    background-color: #00aeff;
    border: 2px solid#24af08;
    color: #000000;
    margin-bottom: 16px;
    font-size: 19px;
}

.c-heading buttons {
    width: 100%;
    height: 40px;
    background-color: #00aeff;
    border: 2px solid #24af08;
    color: #000000;
    margin-bottom: 16px;
    font-size: 19px;
}
/*------------ FIN Botones Formulario ------------*/


/*---------------------------------------- FIN Formularios ---------------------------------*/



/*---------------------------------------- 4. Footer ---------------------------------------*/


.footer {
    background:  #00aeffb4;
    color:   #000000;
    height: 75px;
    position: relative;
    bottom: 0px;
}

.footer .footer-content{
    border: 1px solid  #000000;
    height: 100px;
}

.footer .footer-bottom{
    background: #137dbb8e;
    color:  #000000;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}


/*------------------------------------------- FIN Footer -----------------------------------*/



/*---------------------------------------- 5. Page Wrapper ---------------------------------*/


.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover {
    color: #ffffff;
}


/*---------------------------------------- FIN Page Wrapper ---------------------------------*/



/*-------------------------------------------- 6. Index -------------------------------------*/


/*--------- 6.1 Imagen Central ---------*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 20px;
}
/*-------- FIN Imagen Central ----------*/

/*-------- 6.2 Carrusel Empresas -------*/
.carouselempresas h3{
    font-size: 33px;
    margin-top: 20px;
    color: #079cf3;
    text-align: center;
}

.c-heading h3{
    font-size: 33px;
    margin-top: 20px;
    color: #079cf3;
    text-align: center;
}
/*-------- FIN Carrusel Empresas -------*/


/*----------------------------------------- FIN index ----------------------------------------*/


/*----------------------------------- 7. Pagina contacto ---------------------------------*/


body{
	margin:0px;
	padding: 0px;
    background-color: #ffffff;
    
}
a{
	text-decoration:none;
}
.social a{
	padding: 20px;
	color: #000000;
	font-size:1.1rem;
}
#contact{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
    align-items: center;
    
}
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #cfcc1931;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    
}
.social a:hover{
	color:#000000;
	transition: all ease 0.3s;
}
.contact-box{
	background-color: #ffffff3a;
    display: flex;
    margin-top: 150px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
    border: 2px solid  #24af08;
}
.c-heading h1{
	font-family: Roboto;
	color: #00aeff;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
.c-heading p{
	font-family: Roboto;
	color: #000000;
	font-size: 19px;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
    text-align: left;
}
.c-inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.c-inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #000000;
	display: flex;
}
.c-inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #000000;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #00aeff;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.c-inputs input:focus{
	border-bottom: 1px solid  #000000;
	transition: all ease 0.5s;
}
.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid  #000000;
	transition: all ease 0.5s;
	background-color: #fff(0,0,0,0.1);
}
.c-inputs button:active{
	transform: scale(1.02);
}
.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid  #24af08;
}
@media(max-width:1100px){
	.map{
		display: none;
	}
}
@media(max-width:450px){
	.social{
		display: none;
	}
	.contact-box{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
	}
	#contact{
		position: static;
		transform: translate(0,0);
		width:100%;
		height: 100vh;
		box-sizing: border-box;
	}
	.c-heading h1{
		font-size: 2.2rem;
		text-align: center;
	}
	
}


/*------------------------------------ FIN Pagina Contacto ----------------------------------*/



/*------------------------------------ 8. Panel Control ----------------------------------*/


@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #ffffff;  
}
header{
    background:#343a40;        
}


/*------------------------------------ FIN Panel Control ----------------------------------*/



/*------------------------------------ 9. Side Panel ----------------------------------*/

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #24af08;
    transition: all 500ms linear;
    /*left: -250px;*/
}

/*#sidebar.active {
    left: 0;
}*/

#sidebar ul li {
    color:  #24af08;
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 3px solid rgba(#e7c60b);
}

/*admintable*/

.admintable {
    margin-top: 200px;

}
.tablebar {
    color: #ffffff;
    background-color: #079cf3;
    text-align: center;
}


/*boton apruebo/rechazo*/

.buttonbarap {
    
    width: 30%;
    height: 35px;
    background-color: #00aeff;
    border: 2px solid #ffffff;
    color: #000000;
    margin-bottom: 16px;
    font-size: 19px;
}

.buttonbarno {
    
    width: 30%;
    height: 35px;
    background-color: #ff1100;
    border: 2px solid#ffffff;
    color: #000000;
    margin-bottom: 16px;
    font-size: 19px;
}




/*
#sidebar .toggler-btn {
    position: absolute;
    left: 260px;
    top: 5px;
    cursor: pointer;
}
*/

/*
#sidebar .toggler-btn span {
    display: block;
    width: 50px;
    text-align: center;
    font-size: 30px;
    border: 2px solid #24af0875;
    color: #24af0875;
}*/


/*------------------------------------ FIN Side Panel ----------------------------------*/


/*------------------------------------ 10. ----------------------------------*/

/*------------------------------------ FIN ----------------------------------*/
